<div class="main-content">
  <h2>Тука ще покажа един от най-простите начини за достъп до <b>Child Componet </b> от темплейта на неговият родител </h2>
  <p>
    Това е начин за препращане на инстанцията на даден компонент в своя шаблон. С тази референция можете да получите достъп до
    публичните свойства и методи на този компонент.
  </p>
  <pre><code class="lang-html"><span class="hljs-tag">&lt;<span class="hljs-name">rio-profile</span> #<span class="hljs-attr">profile</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">rio-profile</span>&gt;</span>
   My name is {{<span> profile.name </span>}}
</code></pre>
<iframe src="https://plnkr.co/edit/qzYNXk?p=preview" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="400px" width="100%" allowfullscreen></iframe>
</div>