<div class="main-content">
  <h2>Използване на други компоненти</h2>
  <p>Компонентите зависят от други компоненти, директивои и pipes. Например <code>
  TodoListComponet</code> разчита на <code>
  TodoItemComponet.</code> За да може даден компонент да знае за тези зависимости, трябва да ги
  групираме в модули.</p>
  <img src="../assets/using-other-components.JPG" alt="Pasing data into a component"/>
  <p>Полето <code>declaration</code> очаква масив от компоненти, директиви и pipes,
   които са част от модула. </p>
   <p class="comments-section">Моля вижте <a href="https://angular.io/docs/ts/latest/guide/ngmodule.html" target="_blank">Modules section</a> за повече информация <code>NgModule</code></p>
</div>