<div class="main-content">
  <h2>Структуриране на приложения с компоненти</h2>
  <p>Когато сложността и размера на нашето приложение нараства,
    ние искаме да разделим отговорностите между нашите компоненти.
    <ul>
       <li>
           Смарт/Container компонентите са специфични за приложението, от по високо
           ниво, с достъп до модела на домейна на приложението. 
       </li>
       <li>
          Прости/Презентационни компоненти са компоненти които отговарят
          за представянето на потребителският интерфейс или поведението
          на конкретни обекти, предавани чрез АPI-то на компоненти (
            тоест свойствата на компонентите и събития
          ). Тези компоненти са по съвместими с предстоящите стандарти за 
          уеб компоненти.
       </li>
    </ul>
</div>