
  <router-outlet></router-outlet>
<div class="main-content">
<h2>Създаване на Компонент</h2>
<p>Ние създаваме логиката на приложението вътре в класа.</p>
<p>За да направим това създаваме <code>@Component</code>, това е ТypeScritp decorator, които ни позволява да променяме класа, и да добавим
  мета данни към свойствата и аргументи на функцията.</p>
<ul>
  <li><b>selector</b> е елемент свойство което използваме да кажем на Angular да създаде и вмъкне инстанция на компонента</li>
  <li><b>template</b> e HTML които казва на Angular какво трябва да се покаже в DOM</li>
</ul>
<p>Компонента по долу вмъква стойност на
  <code>name</code> променлива в темлейта между двете къдрави скоби
  <code>{{name}}</code>, това което ще се рендира в html e
  <code>Hello World</code>
</p>
<div>
<iframe src="http://plnkr.co/edit/bXrxWVkP2MWD8yNDYqVD?p=preview" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="400px" width="100%" allowfullscreen></iframe>
</div>
<p>Ние се нуждаем да импортнем <code>Component</code> декората от <code>@angular/core</code> преди да го използваме. За да го
  използваме този компонент, просто трябва да добавим
  <code>&lt;rio-hello&gt;&lt;/rio-hello&gt;</code> в HTML файл или друг темплейт </p>

  </div>





 