<div class="main-content">
  <h2>Директиви</h2>
  <p>Директивите променят ДОМ или по точно променят смисъла, поведението и оформлението на
    елементите на ДОМ.
    Директивите са един от основните градивни елементи, които Angular
    използва за изграждане на приложения. В действителност Angular компонентите са в голяма част директиви с шаблони.  
  </p>
  <p>
    По голяма част от въпросите свързане с templates и  dependency injection се решават през 
    компонентите, а въпросите които вкючват промяна на генеричното поведение се решават през
    директивите.
  </p>
  <p>Има три основни типа директиви в Angular</p>
  <ul>
   <li>Component -  директива с темлейт</li>
   <li>Атрибут Директиви -  директиви които променят поведението на компонента
     или елемент, но не засягат стуктурата на темлейта.
   </li>
   <li>Структурни Директиви - Директиви които променят поведението на компонента или елемент като засягат стуктурата 
     на показване на темлейта.
   </li>
  </ul>
</div>